.input.file > input {
    margin-top: 5px;
}

.input.radio.required {
    margin-top: -7px;
}

.info-box-content-change {
    font-weight: bolder;
    margin-left: 90px;
    padding: 34px 13px;
}

.bg-pink{
    background-color: #F56954 !important;
    color: #fff;
}

div.error-message
{
    color: red !important;
}
.box-footer.no-padding {
    margin-top: 2px !important;
}

.nav-stacked > li > span {
    border-left: 3px solid transparent;
    border-radius: 0;
    border-top: 0 none;
    color: #444;
}
.nav > li > span {
    display: block;
    padding: 10px 15px;
    position: relative;
}
.ajax-loader {
    visibility: hidden;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: +100 !important;
    width: 100%;
    height:100%;
}

.ajax-loader img {
    position: relative;
    top:50%;
    left:50%;
}
/*
.previewMessage .close {
    display: none;
}*/

.mytable td {
    color: black;
    cursor: default;
    padding: 4px 4px 6px;
}
.mytable td span {
    margin-right: 15px;
}

.box-title {
    color: #3c8dbc;
    font-weight: bolder;
}